<ng-container *ngIf="tasks$ | async as tasks">
  <nz-page-header nzTitle="Task Manager" nzSubtitle="Manage custom tasks, enable/disable existing ones">
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="setTrackAll(tasks, true)">Track all tasks</button>
      <button nz-button (click)="setTrackAll( tasks,false)">Untrack all tasks</button>
      <button nz-button (click)="exportTasks(tasks)" nz-tooltip nzTooltipTitle="Export custom tasks">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="importTasks()" nz-tooltip nzTooltipTitle="Import custom tasks">
        <i nz-icon nzType="download" nzTheme="outline"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-card nzTitle="Tasks">
    <nz-table #tasksTable [nzData]="tasks"
              [nzScroll]="{y:tableHeight + 'px'}" [nzPageSize]="999" nzHideOnSinglePage
              nzSize="middle">
      <thead>
      <tr>
        <th>Name</th>
        <th>Icon</th>
        <th>Frequency</th>
        <th>Scope</th>
        <th>Repetitions</th>
        <th>Min ilvl</th>
        <th>Max ilvl</th>
        <th>Tracked</th>
        <th>Shared <i nz-icon nzType="info-circle" nz-tooltip nzTooltipTitle="Shared tasks are the ones listed in Party Planner"></i></th>
        <th>Manage</th>
      </tr>
      </thead>
      <tbody cdkDropList
             (cdkDropListDropped)="dropTask($event)"
             [cdkDropListData]="tasks">
      <tr *ngFor="let task of tasksTable.data, trackBy: trackByTask" cdkDrag [cdkDragData]="task">
        <td><input type="text" [(ngModel)]="task.label" (ngModelChange)="updateTask(task)" [disabled]="!task.custom"
                   nz-input></td>
        <td>
          <div class="task-icon-wrapper">
            <img *ngIf="task.iconPath" src="./assets/icons/{{task.iconPath}}" alt="" class="task-icon">
            <nz-select [(ngModel)]="task.iconPath" (ngModelChange)="updateTask(task)"
                       nzAllowClear
                       class="icon-select"
                       *ngIf="task.custom">
              <nz-option *ngFor="let icon of icons" [nzValue]="icon" [nzLabel]="icon" nzCustomContent>
                <img src="./assets/icons/{{icon}}" alt="" class="task-icon">
              </nz-option>
            </nz-select>
          </div>
        </td>
        <td>
          <nz-select [(ngModel)]="task.frequency" (ngModelChange)="updateTask(task)" [nzDisabled]="!task.custom">
            <nz-option [nzValue]="TaskFrequency.DAILY" nzLabel="Daily"></nz-option>
            <nz-option [nzValue]="TaskFrequency.WEEKLY" nzLabel="Weekly"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select [(ngModel)]="task.scope" (ngModelChange)="updateTask(task)" [nzDisabled]="!task.custom">
            <nz-option [nzValue]="TaskScope.CHARACTER" nzLabel="Character"></nz-option>
            <nz-option [nzValue]="TaskScope.ROSTER" nzLabel="Roster"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-input-number [(ngModel)]="task.amount" (ngModelChange)="updateTask(task)"
                           [nzDisabled]="!task.custom"></nz-input-number>
        </td>
        <td>
          <nz-input-number [(ngModel)]="task.minIlvl" (ngModelChange)="updateTask(task)"></nz-input-number>
        </td>
        <td>
          <nz-input-number [(ngModel)]="task.maxIlvl" (ngModelChange)="updateTask(task)"></nz-input-number>
        </td>
        <td><label nz-checkbox [(ngModel)]="task.enabled" (ngModelChange)="updateTask(task)"></label></td>
        <td><label nz-checkbox [(ngModel)]="task.shared" (ngModelChange)="updateTask(task)"></label></td>
        <td>
          <button nz-button nzDanger [disabled]="!task.custom" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                  (nzOnConfirm)="removeTask(task)">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>

  </nz-card>
</ng-container>

<ng-container *ngIf="uid$ | async as uid">
  <nz-card nzTitle="Add a custom task">
    <form nz-form [formGroup]="form" (ngSubmit)="addTask(uid)" nzLayout="inline">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a task name">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="label" placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a task frequency">
          <nz-input-group [nzAddOnBefore]="imagePreview">
            <ng-template #imagePreview>
              <img *ngIf="form.value.iconPath" src="./assets/icons/{{form.value.iconPath}}" alt=""
                   class="task-icon preview">
              <span *ngIf="!form.value.iconPath">Icon</span>
            </ng-template>
            <nz-select formControlName="iconPath"
                       nzAllowClear
                       class="icon-select">
              <nz-option *ngFor="let icon of icons" [nzValue]="icon" [nzLabel]="icon" nzCustomContent>
                <img src="./assets/icons/{{icon}}" alt="" class="task-icon">
              </nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a task frequency">
          <nz-input-group nzAddOnBefore="Frequency">
            <nz-select formControlName="frequency">
              <nz-option [nzValue]="TaskFrequency.DAILY" nzLabel="Daily"></nz-option>
              <nz-option [nzValue]="TaskFrequency.WEEKLY" nzLabel="Weekly"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a task scope">
          <nz-input-group nzAddOnBefore="Scope">
            <nz-select formControlName="scope">
              <nz-option [nzValue]="TaskScope.CHARACTER" nzLabel="Character"></nz-option>
              <nz-option [nzValue]="TaskScope.ROSTER" nzLabel="Roster"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a minimum ilvl">
          <nz-input-group nzPrefixIcon="info">
            <input type="number" nz-input formControlName="minIlvl" placeholder="Min ilvl" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a maximum ilvl">
          <nz-input-group nzPrefixIcon="info">
            <input type="number" nz-input formControlName="maxIlvl" placeholder="Max ilvl" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a repetition count">
          <nz-input-group nzPrefixIcon="number">
            <input type="number" nz-input formControlName="amount" placeholder="Repetitions" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button [nzType]="'primary'" [disabled]="form.invalid">Add</button>
    </form>
  </nz-card>
</ng-container>
