<ng-container *ngIf="roster$ | async as roster">
  <nz-page-header nzTitle="Roster manager" nzSubtitle="Manage & configure your roster">
    <nz-page-header-extra>
      <button nz-button
              *ngIf="hasLocalstorageRoster"
              nzType="primary"
              nz-popconfirm
              nzPopconfirmTitle="This will overwrite your current roster with previously saved local data and clear it from localstorage !"
              (nzOnConfirm)="importFromLocalStorage(roster.$key)">
        Import from LocalStorage
      </button>
      <button nz-button (click)="exportRoster(roster)" nz-tooltip nzTooltipTitle="Export roster">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="importRoster()" nz-tooltip nzTooltipTitle="Import roster">
        <i nz-icon nzType="download" nzTheme="outline"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-card nzTitle="Characters">
    <nz-list [nzDataSource]="roster.characters" cdkDropList [cdkDropListData]="roster.characters" (cdkDropListDropped)="drop(roster, $event)">
      <nz-list-item *ngFor="let character of roster.characters;trackBy: trackByCharacter"
                    [nzContent]="noteEditor"
                    [nzActions]="[setPrivateAction, setLazyAction,setWeeklyGoldAction, setClassAction, deleteAction]"
                    cdkDrag [cdkDragData]="character">
        <ng-template #noteEditor>
          <textarea nz-input
                    placeholder="Custom note, you also can use it to set your BiFrost information or song of return location"
                    cols="50"
                    rows="3"
                    [(ngModel)]="character.note"
                    [ngModelOptions]="{updateOn: 'blur'}"
                    (ngModelChange)="saveCharacter(character, roster)"
                    class="note-editor"></textarea>
        </ng-template>

        <nz-list-item-meta [nzTitle]="title" [nzDescription]="description"
                           nzAvatar="./assets/icons/classes/class_{{character.class?.toString()?.padStart(2,'0')}}.png"></nz-list-item-meta>
        <ng-template #title>
          <input type="text" nz-input [ngModel]="character.name" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="saveCharacterName(character, roster, $event)" class="character-name-input">
        </ng-template>
        <ng-template #description>
          ilvl
          <nz-input-number [(ngModel)]="character.ilvl" [ngModelOptions]="{updateOn: 'blur'}"
                           (ngModelChange)="saveCharacter(character, roster)"></nz-input-number>
        </ng-template>
        <ng-template #setWeeklyGoldAction>
          <label nz-checkbox [(ngModel)]="character.weeklyGold" (ngModelChange)="saveCharacter(character, roster)"></label>
          Weekly Gold
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Enable weekly gold for this character"></i>
        </ng-template>
        <ng-template #setPrivateAction>
          <label nz-checkbox [(ngModel)]="character.isPrivate" (ngModelChange)="saveCharacter(character, roster)"></label>
          Private
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Do not share this character with your friends"></i>
        </ng-template>
        <ng-template #setLazyAction>
          <label nz-checkbox [(ngModel)]="character.lazy" (ngModelChange)="saveCharacter(character, roster)"></label>
          Lazy
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Only resets after 3 days"></i>
        </ng-template>
        <ng-template #setClassAction>
          <nz-select class="class-selector"
                     [(ngModel)]="character.class"
                     (ngModelChange)="saveCharacter(character, roster)"
                     nzShowSearch>
            <nz-option *ngFor="let row of classes"
                       [nzValue]="row.id" [nzLabel]="row.name"
                       nzCustomContent>
              <div class="class-row">
                <img src="./assets/icons/classes/{{row.icon}}" alt="" class="class-icon">
                <div>{{row.name}}</div>
              </div>
            </nz-option>
          </nz-select>
        </ng-template>
        <ng-template #deleteAction>
          <button nz-button nzDanger nz-popconfirm
                  nzPopconfirmTitle="Are you sure?"
                  (nzOnConfirm)="removeCharacter(character, roster)" nzShape="circle">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </ng-template>
      </nz-list-item>
    </nz-list>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzTitle="Add a character">
    <form nz-form [formGroup]="form" (ngSubmit)="addCharacter(roster)">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a character name">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="name" placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input an ilvl">
          <nz-input-group nzPrefixIcon="info">
            <input nz-input formControlName="ilvl" placeholder="Item Level" type="number" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input a class">
          <nz-input-group nzAddOnBefore="Class">
            <nz-select formControlName="class" class="class-selector" nzShowSearch>
              <nz-option *ngFor="let row of classes"
                         [nzValue]="row.id" [nzLabel]="row.name"
                         nzCustomContent class="class-row">
                <div class="class-row">
                  <img src="./assets/icons/classes/{{row.icon}}" alt="" class="class-icon">
                  <div>{{row.name}}</div>
                </div>
              </nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <label nz-checkbox formControlName="lazy">
          Lazy
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Only resets after 3 days"></i>
        </label>
      </nz-form-item>
      <button nz-button [nzType]="'primary'" [disabled]="!form.valid">Add</button>
    </form>
  </nz-card>
</ng-container>
