.class-selector {
  min-width: 200px;
}

.note-editor {
  width: 40%;

  @media screen and(max-width: 1400px){
    width: 20%;
  }

  @media screen and(max-width: 1100px){
    display: none;
  }
}

.character-name-input {
  width: 200px;
}

.class-row {
  display: flex;
  align-items: center;

  .class-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }
}
