<nz-page-header nzTitle="Gold Planner"
                nzSubtitle="Plan how much gold income you're generating with weeklies"></nz-page-header>

<ng-template #goldIcon><img src="./assets/icons/gold.png" class="gold-icon" alt="gold"></ng-template>

<ng-container *ngIf="settings$ | async as settings">
  <ng-container *ngIf="roster$ | async as roster">
    <ng-container *ngIf="scrolling$ | async as scrolling">
      <div class="chest-matrix" *ngIf="display$ | async as display">
        <nz-table #tasksTable 
                  [nzData]="display.chestsData"
                  [nzPageSize]="999"
                  [nzScroll]="scrolling"
                  nzHideOnSinglePage
                  nzBordered
                  nzSize="middle">
          <thead>
          <tr>
            <th nzWidth="350px" nzRight>Source</th>
            <th *ngFor="let character of roster">{{character.name}}[{{character.ilvl}}]
              <i nz-icon nzType="message" nzTheme="outline" *ngIf="character.note"
                nz-tooltip [nzTooltipTitle]="character.note" class="note-icon"></i></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let row of tasksTable.data; trackBy: trackByIndex">
            <tr>
              <td class="task-name">
                <img *ngIf="row.task?.iconPath" src="./assets/icons/{{row.task?.iconPath}}" alt="" class="task-icon">
                {{row.gTask.name}}
                (<img src="./assets/icons/gold.png" class="gold-icon" alt="gold">{{row.gTask.goldReward}})
              </td>
              <td *ngFor="let flag of row.flags; index as i; trackBy: trackByIndex">
                <div class="cell-container">
                  <ng-container *ngIf="flag.value !== null || flag.force">
                    <nz-switch nzCheckedChildren="Taking"
                              nzUnCheckedChildren="Skipping"
                              [ngModel]="!flag.value"
                              (ngModelChange)="setChestFlag(settings.$key, display.tracking, row.gTask, roster[i], $event)"></nz-switch>
                    (<img src="./assets/icons/gold.png" class="gold-icon" alt="gold">{{row.gTask.chestPrice}})
                  </ng-container>
                  <div *ngIf="(flag.value === null || flag.force) && (flag.force !== null)">
                    <label nz-checkbox [(ngModel)]="flag.force"
                          (ngModelChange)="setForceAbyss(settings.$key, display.forceAbyss, row.gTask, roster[i], $event)"></label>
                    Force
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr>
            <td>Large Gold Chest(s)</td>
            <!-- display.total instead of 6 -->
            <td colspan="6" class="roster-income">
              <img src="./assets/icons/gold.png"
                  class="gold-icon" alt="gold">{{display.chestGold | number}}
            </td>
          </tr>
          <tr>
            <td>Chaos Dungeons</td>
            <td class="manual-row" *ngFor="let character of roster">
              <nz-input-group [nzAddOnBefore]="goldIcon">
                <nz-input-number [ngModel]="display.chaos[character.name]" (ngModelChange)="setManualGold(settings.$key, 'chaos', character.name, $event)" [ngModelOptions]="{updateOn: 'blur'}"></nz-input-number>
              </nz-input-group>
            </td>
          </tr>
          <tr>
            <td>Other sources  <i nz-icon nzType="message" nzTheme="outline" nz-tooltip nzTooltipTitle="For buses costs you can put negative values like (-1300)"  class="info-icon"></i></td>
            <td class="manual-row" *ngFor="let character of roster">
              <nz-input-group [nzAddOnBefore]="goldIcon">
                <nz-input-number [ngModel]="display.other[character.name]" (ngModelChange)="setManualGold(settings.$key, 'other', character.name, $event)" pattern="[1-9].*" [ngModelOptions]="{updateOn: 'blur'}"></nz-input-number>
              </nz-input-group>
            </td>
          </tr>
          </tbody>
        </nz-table>
        <!-- trick to creat cells on footer -->
        <nz-table
            [nzScroll]="scrolling"
            >
          <thead>
            <tr>
              <th nzWidth="350px" class="total-cell">Total: <img src="./assets/icons/gold.png"
                                                class="gold-icon" alt="gold">{{display.grandTotal | number}} </th>
              <th class="total-cell" *ngFor="let row of display.total"><img src="./assets/icons/gold.png"
                                                                            class="gold-icon" alt="gold">{{row | number}}
              </th>
            </tr>
          </thead>
        </nz-table>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
