<nz-alert nzType="info" nzMessage="Creating an account will migrate everything for you, you won't lose any of your progress or settings"></nz-alert>
<form (ngSubmit)="submit()" [formGroup]="form" nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>Username</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="username" id="username" nz-input type="username">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="email" id="email" nz-input type="email">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="password" id="password" nz-input type="password">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirmation
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="confirmPassword" id="confirmPassword" nz-input type="password">
    </nz-form-control>
  </nz-form-item>
  <nz-alert *ngIf="form.errors && form.errors['matchPassword']" nzType="error" nzShowIcon nzMessage="Passwords do not match"></nz-alert>
  <nz-form-item nz-row>
    <nz-form-control [nzOffset]="6" [nzSpan]="14">
      <button [disabled]="!form.valid" nz-button nzType="primary" type="submit">Create an account</button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-divider nzText="Or"></nz-divider>
<div class="oauth-buttons">
  <button (click)="googleOauth()" nz-button nzBlock
          nzType="primary">
    <i nz-icon nzType="google" nzTheme="outline"></i>
    Register with Google
  </button>
</div>
