<nz-page-header nzTitle="Settings" nzSubtitle="Configure your experience">
</nz-page-header>
<div *ngIf="settings$ | async as settings">
  <div nz-row>
    <div nz-col nzOffset="1"><label nz-checkbox [(ngModel)]="settings.crystallineAura"
                                    (ngModelChange)="saveSettings(settings)"></label> Crystalline Aura
    </div>
  </div>
  <ng-container *ngIf="lazyTracking$ | async as tracking">
    <ng-container *ngIf="roster$ | async as roster">
      <ng-container *ngIf="lazyFlags$ | async as lazyFlags">
        <div nz-row class="lazy-matrix">
          <nz-card nz-col nzMd="24" nzTitle="Lazy tasks" nzSize="small">
            <div *ngIf="lazyFlags.length > 0">
              <nz-table #tasksTable [nzData]="lazyFlags"
                        [nzPageSize]="999"
                        nzHideOnSinglePage
                        nzSize="middle">
                <thead>
                <tr>
                  <th>Task</th>
                  <th *ngFor="let character of roster">{{character.name}}[{{character.ilvl}}]</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of tasksTable.data; trackBy: trackByTask">
                  <td class="task-name">
                    <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt="" class="task-icon">
                    {{row.task.label}}
                  </td>
                  <td *ngFor="let flag of row.flags; index as i">
                    <nz-switch nzCheckedChildren="Lazy" nzUnCheckedChildren="Not Lazy"
                               [ngModel]="flag"
                               (ngModelChange)="setLazyFlag(tracking, row.task, roster[i], $event)"></nz-switch>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>
          </nz-card>
        </div>
        <ng-container *ngIf="energy$ | async as energy">
          <div nz-row *ngIf="restBonus$ | async as restBonus">
            <nz-card nz-col nzMd="24" nzTitle="Rest bonus" [nzExtra]="reset" nzSize="small">
              <ng-template #reset>
                <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="resetBonuses()">Reset all bonuses</button>
              </ng-template>
              <div class="lazy-matrix">
                <nz-table #tasksTable [nzData]="restBonus"
                          [nzPageSize]="999"
                          nzHideOnSinglePage
                          nzSize="middle">
                  <thead>
                  <tr>
                    <th>Task</th>
                    <th *ngFor="let character of roster">{{character.name}}[{{character.ilvl}}]</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of tasksTable.data; trackBy: trackByTask">
                    <td class="task-name">
                      <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt=""
                           class="task-icon">
                      {{row.task.label}}
                    </td>
                    <td *ngFor="let bonus of row.energy; index as i; trackBy: trackByBonus">
                      <nz-input-number [ngModel]="bonus"
                                       [nzMin]="0"
                                       [nzMax]="100"
                                       (ngModelChange)="setRestBonus(energy, row.task,roster[i], $event)"></nz-input-number>
                    </td>
                  </tr>
                  </tbody>
                </nz-table>
              </div>
            </nz-card>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
