<nz-page-header nzTitle="Settings" nzSubtitle="Configure your experience">
</nz-page-header>
<div nz-row *ngIf="settings$ | async as settings">
  <div nz-col nzOffset="1"><label nz-checkbox [(ngModel)]="settings.crystallineAura"
                                  (ngModelChange)="saveSettings(settings)"></label> Crystalline Aura
  </div>
  <ng-container *ngIf="lazyTracking$ | async as tracking">
    <ng-container *ngIf="roster$ | async as roster">
      <ng-container *ngIf="lazyFlags$ | async as lazyFlags">
        <div nz-col class="lazy-matrix" *ngIf="lazyFlags.length > 0">
          <nz-table #tasksTable [nzData]="lazyFlags"
                    [nzScroll]="{y:'290px'}" [nzPageSize]="999"
                    nzHideOnSinglePage
                    nzSize="middle">
            <thead>
            <tr>
              <th>Task</th>
              <th *ngFor="let character of roster">{{character.name}}[{{character.ilvl}}]</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tasksTable.data; trackBy: trackByTask">
              <td class="task-name">
                <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt="" class="task-icon">
                {{row.task.label}}
              </td>
              <td *ngFor="let flag of row.flags; index as i">
                <nz-switch nzCheckedChildren="Lazy" nzUnCheckedChildren="Not Lazy"
                           [ngModel]="flag" (ngModelChange)="setLazyFlag(tracking, row.task, roster[i], $event)"></nz-switch>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
