<nz-page-header nzTitle="Settings" nzSubtitle="Configure your experience">
  <nz-page-header-extra *ngIf="(anonymous$ | async) === false">
    <i nz-tooltip nzTooltipTitle="You can share this freely, it won't compromise your account">User ID: {{uid$ | async}}</i>
  </nz-page-header-extra>
</nz-page-header>
<div *ngIf="settings$ | async as settings">
  <div nz-row [nzGutter]="[10, 10]">
    <div nz-col nzMd="24">
      <label nz-checkbox [(ngModel)]="settings.crystallineAura"
             (ngModelChange)="saveSettings(settings)"></label> Crystalline Aura
    </div>
    <div nz-col nzMd="24">
      <label nz-checkbox [(ngModel)]="settings.hiddenOnCompletion" (ngModelChange)="saveSettings(settings)">
        Hide on completion <i nz-icon nzType="info-circle" nz-tooltip nzTooltipTitle="Hide task when it has been completed, instead of mark it only visually completed"></i>
      </label>
    </div>
    <div nz-col *ngIf="hasLocalstorageData">
      <button nz-button nzType="primary" (click)="migrate()">Import everything from LocalStorage</button>
    </div>
    <div nz-col *ngIf="hasLocalstorageData">
      <button nzDanger nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Are you sure? This cannot be undone"
              (nzOnConfirm)="clearLocalstorageData()">Clear LocalStorage data
      </button>
    </div>
  </div>
  <ng-container *ngIf="lazyTracking$ | async as tracking">
    <ng-container *ngIf="roster$ | async as roster">
      <ng-container *ngIf="lazyFlags$ | async as lazyFlags">
        <div nz-row class="lazy-matrix">
          <nz-card nz-col nzMd="24" nzTitle="Lazy tasks" nzSize="small">
            <ng-container *ngIf="hasLazyCharacters$ | async; else noLazyCharacters">
              <div *ngIf="lazyFlags.length > 0">
                <nz-table #tasksTable [nzData]="lazyFlags"
                          [nzPageSize]="999"
                          nzHideOnSinglePage
                          nzSize="middle">
                  <thead>
                  <tr>
                    <th>Task</th>
                    <th *ngFor="let character of roster">{{character.name}}[{{character.ilvl}}]</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of tasksTable.data; trackBy: trackByTask">
                    <td class="task-name">
                      <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt="" class="task-icon">
                      {{row.task.label}}
                    </td>
                    <td *ngFor="let flag of row.flags; index as i; trackBy: trackByIndex">
                      <nz-switch nzCheckedChildren="Lazy"
                                 nzUnCheckedChildren="Not Lazy"
                                 [ngModel]="flag"
                                 (ngModelChange)="setLazyFlag(settings.$key, tracking, row.task, roster[i], $event)"></nz-switch>
                    </td>
                  </tr>
                  </tbody>
                </nz-table>
              </div>
            </ng-container>
            <ng-template #noLazyCharacters>
              <nz-empty nzNotFoundContent="No lazy characters"></nz-empty>
            </ng-template>
          </nz-card>
        </div>
        <ng-container *ngIf="energy$ | async as energy">
          <ng-container *ngIf="fullRoster$ | async as fullRoster">
            <div nz-row *ngIf="restBonus$ | async as restBonus">
              <nz-card nz-col nzMd="24" nzTitle="Rest bonus" [nzExtra]="reset" nzSize="small" class="lazy-matrix">
                <ng-template #reset>
                  <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure?"
                          (nzOnConfirm)="resetBonuses(energy.$key)">Reset
                    all bonuses
                  </button>
                </ng-template>
                <div class="lazy-matrix">
                  <nz-table #tasksTable [nzData]="restBonus"
                            [nzPageSize]="999"
                            nzHideOnSinglePage
                            nzSize="middle">
                    <thead>
                    <tr>
                      <th>Task</th>
                      <th *ngFor="let character of fullRoster">{{character.name}}[{{character.ilvl}}]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of tasksTable.data; trackBy: trackByTask">
                      <td class="task-name">
                        <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt=""
                             class="task-icon">
                        {{row.task.label}}
                      </td>
                      <td *ngFor="let bonus of row.energy; index as i; trackBy: trackByIndex">
                        <nz-input-number [ngModel]="bonus"
                                         [nzMin]="0"
                                         [nzStep]="10"
                                         [nzMax]="row.task.label === 'Chaos Dungeon' ? 200 : 100"
                                         [ngModelOptions]="{updateOn: 'blur'}"
                                         (ngModelChange)="setRestBonus(energy, row.task, fullRoster[i], $event)"></nz-input-number>
                      </td>
                    </tr>
                    </tbody>
                  </nz-table>
                </div>
              </nz-card>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="rawRoster$ | async as rawRoster">
          <nz-card nz-col nzMd="24" nzTitle="Task tracking" nzSize="small" *ngIf="taskTracking$ | async as taskTracking" class="lazy-matrix">
            <div class="lazy-matrix">
              <nz-table #tasksTable [nzData]="taskTracking"
                        [nzPageSize]="999"
                        nzHideOnSinglePage
                        [nzScroll]="{y: '300px'}"
                        nzSize="middle">
                <thead>
                <tr>
                  <th>Task</th>
                  <th *ngFor="let character of rawRoster.characters">{{character.name}}[{{character.ilvl}}]</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of tasksTable.data; trackBy: trackByTask">
                  <td class="task-name">
                    <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt=""
                         class="task-icon">
                    {{row.task.label}}
                  </td>
                  <td *ngFor="let flag of row.data; index as i; trackBy: trackByIndex">
                    <nz-switch nzCheckedChildren="tracked" nzUnCheckedChildren="ignored"
                               [ngModel]="flag" (ngModelChange)="setTrackedTask(rawRoster, row.task, rawRoster.characters[i], $event)"></nz-switch>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>
          </nz-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
