<nz-page-header nzTitle="Party Planner" nzSubtitle="Plan your parties with your friends based on your completions">
  <nz-page-header-extra>
    <a routerLink="/friends" nz-button nzType="primary">Go to friends page</a>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-input-group nzAddOnBefore="Hidden friends" *ngIf="friendIds$ | async as friends" [nzAddOnAfter]="includeTicketsTpl">
      <ng-template #includeTicketsTpl>
        <label nz-checkbox [ngModel]="includeTickets$ | async" (ngModelChange)="includeTickets$.next($event);"></label>
        Include Tickets
      </ng-template>
      <nz-select class="ignore-friends" nzShowSearch nzMode="multiple" nzPlaceHolder="No hidden friends"
                 [ngModel]="ignoredFriends$ | async" (ngModelChange)="ignoredFriends$.next($event)">
        <nz-option *ngFor="let friendId of friends" [nzValue]="friendId"
                   [nzLabel]="friendId | userName | async"></nz-option>
      </nz-select>
    </nz-input-group>
  </nz-page-header-content>
</nz-page-header>

<ng-container *ngIf="roster$ | async as roster">
  <nz-alert *ngIf="roster.notFound || roster.characters?.length === 0"
            nzMessage="No characters in your roster, please add some in the roster page" nzShowIcon></nz-alert>
  <ng-container *ngIf="display$ | async as display">
    <nz-table [nzData]="[{}]"
              nzHideOnSinglePage
              nzBordered
              nzOuterBordered
              [nzScroll]="{y:tableHeight+'px'}"
              nzSize="middle">
      <thead>
      <tr>
        <th>Task</th>
        <th *ngFor="let character of roster.characters">
          <div class="character-title">
            <img src="./assets/icons/classes/class_{{character.class?.toString()?.padStart(2,'0')}}.png" alt=""
                 class="class-icon" *ngIf="character.class !== null">
            {{character.name}} [{{character.ilvl}}]
            <i nz-icon nzType="message" nzTheme="outline" *ngIf="character.note"
               nz-tooltip [nzTooltipTitle]="character.note" class="note-icon"></i>
            <i nz-icon nzType="clock-circle" nzTheme="outline" *ngIf="character.lazy"
               nz-tooltip nzTooltipTitle="Only resets after 3 days"></i>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>

      <ng-container
        *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.dailyCharacter, title: 'Daily Character'}"></ng-container>
      <ng-container
        *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.dailyRoster, title: 'Daily Roster'}"></ng-container>
      <ng-container
        *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.weeklyCharacter, title: 'Weekly Character'}"></ng-container>
      <ng-container
        *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.weeklyRoster, title: 'Weekly Roster'}"></ng-container>

      <ng-container *ngIf="includeTickets$ | async">
        <ng-container *ngIf="display.ticketsData.length > 0">
          <tr>
            <td [attr.colspan]="roster.characters.length+1" class="section-span">Tickets</td>
          </tr>
          <tr *ngFor="let entry of display.ticketsData; trackBy: trackByIndex; even as even"
              [class.even]="even">
            <td class="task-name">
              <img src="./assets/icons/{{entry.ticket.icon}}" alt="" class="task-icon">
              <span>{{entry.ticket.name}}</span>
            </td>
            <td *ngFor="let ticket of entry.data" class="with-inner-table">
              <div class="task-friends">
                <div *ngFor="let friend of ticket.friends" class="task-friend-container">
                  <div class="friend-name">{{friend.friendId | userName | async}}</div>
                  <div class="friend-characters">
                    <div *ngFor="let fc of friend.characters" class="friend-character">
                      <img src="./assets/icons/classes/class_{{fc.c.class?.toString()?.padStart(2,'0')}}.png" alt=""
                           class="class-icon" *ngIf="fc.c.class !== null">
                      <div nz-tooltip nzTooltipTitle="ilvl {{fc.c.ilvl}}">{{fc.c.name}}</div>&nbsp;
                      <div nz-tooltip nzTooltipTitle="You can do {{fc.doable}} runs together">
                        ({{fc.doable}})
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-container>


      <ng-template #rowsDisplay let-rows let-title="title">
        <ng-container *ngIf="rows.length > 0">
          <tr>
            <td [attr.colspan]="roster.characters.length+1" class="section-span">{{title}}</td>
          </tr>
          <tr *ngFor="let row of rows; trackBy: trackByEntry; even as even"
              [class.even]="even">
            <td class="task-name" [class.with-banner]="row.task.subTask?.banner">
              <img src="./assets/icons/{{row.task.subTask?.banner}}" alt="" *ngIf="row.task.subTask?.banner"
                   class="task-banner">
              <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt="" class="task-icon">
              <span>{{row.task.subTask?.name || row.task.label}}</span>
            </td>
            <td *ngFor="let task of row.data" class="with-inner-table"
                [class.completed]="task.done === -1 || task.done >= task.task.amount"
                [class.even]="even"
                [class.daily]="task.task.frequency == TaskFrequency.DAILY"
                [class.weekly]="task.task.frequency == TaskFrequency.WEEKLY">
              <div class="task-friends" *ngIf="task.friends?.length > 0">
                <div *ngFor="let friend of task.friends" class="task-friend-container">
                  <div class="friend-name">{{friend.friendId | userName | async}}</div>
                  <div class="friend-characters">
                    <div *ngFor="let fc of friend.characters" class="friend-character">
                      <img src="./assets/icons/classes/class_{{fc.c.class?.toString()?.padStart(2,'0')}}.png" alt=""
                           class="class-icon" *ngIf="fc.c.class !== null">
                      <div nz-tooltip nzTooltipTitle="ilvl {{fc.c.ilvl}}">{{fc.c.name}}</div>&nbsp;
                      <div nz-tooltip nzTooltipTitle="You can do {{fc.doable}} runs together">
                        ({{fc.doable}})
                      </div>
                      <div *ngIf="fc.c.lazy" class="lazy-icon">
                        <i nz-icon nzType="clock-circle" nzTheme="outline"
                           nz-tooltip nzTooltipTitle="Only resets after 3 days"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="task.done >= task.task.amount" class="done-label">
                Done
              </div>
              <div *ngIf="task.done < 0" class="done-label">
                Not available today
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-template>


      </tbody>
    </nz-table>
  </ng-container>
</ng-container>
