<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            [(nzCollapsed)]="isCollapsed"
            (nzCollapsedChange)="saveCollapsed($event)">
    <div class="sidebar-logo">
      <img src="./assets/logo.png" alt="logo">
      <h1>Lost Ark Helper</h1>
    </div>
    <div class="sidebar-container">
      <div class="main-navbar">
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <a nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="/">
            <i nz-icon nzType="home" nzTheme="outline"></i>
            <span>Home</span>
          </a>
          <li nz-submenu nzTitle="Helpers" nzIcon="appstore" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/checklist" [nzPaddingLeft]="32">
                  <i nz-icon nzType="check-square" nzTheme="outline"></i>
                  <span>Checklist</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/gold-planner" [nzPaddingLeft]="32">
                  <i nz-icon nzType="gold" nzTheme="outline"></i>
                  <span>Gold Planner</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/mari-optimizer" [nzPaddingLeft]="32">
                  <i nz-icon nzType="credit-card" nzTheme="outline"></i>
                  <span>Mari Optimizer</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/honing-cost-optimizer" [nzPaddingLeft]="32">
                  <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
                  <span>Honing Cost Optimizer</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/other-tools" [nzPaddingLeft]="32">
                  <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
                  <span>More cool tools</span>
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Party Helpers" nzIcon="team" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/party-planner" [nzPaddingLeft]="32">
                  <i nz-icon nzType="team" nzTheme="outline"></i>
                  <span>Party Planner</span>
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/friends" [nzPaddingLeft]="32">
                  <i nz-icon nzType="smile" nzTheme="outline"></i>
                  <span>Friends</span>
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Guild" nzIcon="flag" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/guild" [nzPaddingLeft]="32">
                  <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                  <span>Your Guilds</span>
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Configuration" nzIcon="setting" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/roster" [nzPaddingLeft]="32">
                  <i nz-icon nzType="user-switch" nzTheme="outline"></i>
                  <span>Roster</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/tasks-manager" [nzPaddingLeft]="32">
                  <i nz-icon nzType="solution" nzTheme="outline"></i>
                  <span>Tasks Manager</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/availability" [nzPaddingLeft]="32">
                  <i nz-icon nzType="calendar" nzTheme="outline"></i>
                  <span>Availability</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/settings" [nzPaddingLeft]="32">
                  <i nz-icon nzType="setting" nzTheme="outline"></i>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="bottom-navbar">
        <div class="github-menu-entry" [class.collapsed]="isCollapsed">
          <a href="https://github.com/Supamiu/Lostark-helper" target="_blank">
            <i nz-icon nzType="github" nzTheme="outline" class="icon"></i>
            <span>Github</span>
          </a>
        </div>
        <div class="discord-menu-entry" [class.collapsed]="isCollapsed">
          <a href="https://discord.gg/ZyYSJChpX9" target="_blank">
            <img src="./assets/Discord-Logo-White.svg" alt="Discord" class="icon">
            <span>Discord</span>
          </a>
        </div>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-input-group nzAddOnBefore="Region" *ngIf="user$ | async as user">
        <nz-select [ngModel]="user.region" (ngModelChange)="setUserRegion(user, $event, user.notFound)" class="region-selector">
          <nz-option *ngFor="let region of allRegions" [nzLabel]="region.label" [nzValue]="region.value"></nz-option>
        </nz-select>
      </nz-input-group>
      <div class="user-menu" [class.anonymous]="anonymous$ | async" nz-dropdown [nzDropdownMenu]="menu"
           nzOverlayClassName="user-menu">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <ng-container *ngIf="user$ | async as user">
          <ng-container *ngIf="user.notFound">Anonymous</ng-container>
          <ng-container *ngIf="!user.notFound">{{user.name}}</ng-container>
        </ng-container>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <ng-container *ngIf="anonymous$ | async">
              <li nz-menu-item class="menu-item" (click)="signIn()">
                <i nz-icon nzType="login" nzTheme="outline"></i>
                Sign in
              </li>
              <li nz-menu-item class="menu-item" (click)="register()">
                <i nz-icon nzType="form" nzTheme="outline"></i>
                Register
              </li>
            </ng-container>
            <li nz-menu-item nzDanger *ngIf="(anonymous$ | async) === false" (click)="disconnect()" class="menu-item">
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              Log out
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
