<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            [(nzCollapsed)]="isCollapsed"
            (nzCollapsedChange)="saveCollapsed($event)">
    <div class="sidebar-logo">
      <img src="./assets/logo.png" alt="logo">
      <h1>Lost Ark Helper</h1>
    </div>
    <div class="sidebar-container">
      <div class="main-navbar">
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu nzTitle="Helpers" nzIcon="appstore" nzOpen>
            <ul>
              <li nz-menu-item nzMatchRouter routerLink="/checklist">
                <i nz-icon nzType="check-square" nzTheme="outline"></i>
                <span>Checklist</span>
              </li>
              <li nz-menu-item nzMatchRouter routerLink="/gold-planner">
                <i nz-icon nzType="gold" nzTheme="outline"></i>
                <span>Gold Planner</span>
              </li>
              <li nz-menu-item nzMatchRouter routerLink="/mari-optimizer">
                <i nz-icon nzType="credit-card" nzTheme="outline"></i>
                <span>Mari Optimizer</span>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Party Helpers" nzIcon="team" nzOpen>
            <ul>
              <li nz-menu-item nzMatchRouter routerLink="/party-planner">
                <i nz-icon nzType="team" nzTheme="outline"></i>
                <span>Party Planner</span>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter routerLink="/friends">
                <i nz-icon nzType="smile" nzTheme="outline"></i>
                <span>Friends</span>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Configuration" nzIcon="setting" nzOpen>
            <ul>
              <li nz-menu-item nzMatchRouter routerLink="/roster">
                <i nz-icon nzType="user-switch" nzTheme="outline"></i>
                <span>Roster</span>
              </li>
              <li nz-menu-item nzMatchRouter routerLink="/tasks-manager">
                <i nz-icon nzType="solution" nzTheme="outline"></i>
                <span>Tasks Manager</span>
              </li>
              <li nz-menu-item nzMatchRouter routerLink="/settings">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
                <span>Settings</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="bottom-navbar">
        <div class="github-menu-entry" [class.collapsed]="isCollapsed">
          <a href="https://github.com/Supamiu/Lostark-helper" target="_blank">
            <i nz-icon nzType="github" nzTheme="outline" class="icon"></i>
            <span>Github</span>
          </a>
        </div>
        <div class="discord-menu-entry" [class.collapsed]="isCollapsed">
          <a href="https://discord.gg/ZyYSJChpX9" target="_blank">
            <img src="./assets/Discord-Logo-White.svg" alt="Discord" class="icon">
            <span>Discord</span>
          </a>
        </div>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="flex-spacer"></div>
      <div class="user-menu" [class.anonymous]="anonymous$ | async" nz-dropdown [nzDropdownMenu]="menu"
           nzOverlayClassName="user-menu">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <ng-container *ngIf="anonymous$ | async">Anonymous</ng-container>
        <ng-container *ngIf="user$ | async as user">{{user.name}}</ng-container>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <ng-container *ngIf="anonymous$ | async">
              <li nz-menu-item class="menu-item" (click)="signIn()">
                <i nz-icon nzType="login" nzTheme="outline"></i>
                Sign in
              </li>
              <li nz-menu-item class="menu-item" (click)="register()">
                <i nz-icon nzType="form" nzTheme="outline"></i>
                Register
              </li>
            </ng-container>
            <li nz-menu-item nzDanger *ngIf="(anonymous$ | async) === false" (click)="disconnect()" class="menu-item">
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              Log out
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
