<ng-container *ngIf="gearset$ | async as gearset">
  <nz-empty *ngIf="gearset.notFound" nzNotFoundContent="Gearset not found"></nz-empty>
  <nz-page-header [nzTitle]="gearset.name">
    <nz-page-header-extra *ngIf="(readonly$ | async) !== true">
      <button nz-button (click)="renameGearset(gearset)"><i nz-icon nzType="edit" nzTheme="outline"></i> Rename</button>
    </nz-page-header-extra>
    <nz-page-header-content *ngIf="roster$ | async as roster">
      <nz-input-group nzAddOnBefore="Linked character"
                      nzSearch
                      [nzAddOnAfter]="applyIlvlTpl"
                      *ngIf="(readonly$ | async) !== true">
        <ng-template #applyIlvlTpl>
          <button nz-button nzSearch nzType="primary" [disabled]="!gearset.character" (click)="updateIlvl(gearset, roster)">Apply ilvl</button>
        </ng-template>
        <nz-select [(ngModel)]="gearset.character"
                   class="character-selector"
                   nzPlaceHolder="You can link this gearset to a character"
                   (ngModelChange)="updateLink(gearset)">
          <nz-option *ngFor="let character of roster.characters" [nzLabel]="character.name" nzValue="{{roster.$key}}:{{character.id}}"></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-page-header-content>
  </nz-page-header>

  <div nz-row [nzGutter]="[10,10]">
    <div nz-col [nzMd]="24">
      <nz-card nzSize="small" nzTitle="Armor" [nzExtra]="optimizeHoningTpl">
        <ng-template #optimizeHoningTpl>
          <div class="pity-switch">
            Cost computing:&nbsp;
            <nz-switch [ngModel]="pity$ | async" (ngModelChange)="pity$.next($event)" nzCheckedChildren="Pity" nzUnCheckedChildren="Avg"></nz-switch>
          </div>
          <div class="honing-buffs">
            Honing buffs:&nbsp;
            <label nz-checkbox [(ngModel)]="gearset.t30strongholdBuff" (ngModelChange)="saveEngravingsChange(gearset)">1385</label>
            <label nz-checkbox [(ngModel)]="gearset.t31strongholdBuff" (ngModelChange)="saveEngravingsChange(gearset)">1460</label>
            <nz-input-group nzSearch nzAddOnBefore="Optimize for ilvl" [nzAddOnAfter]="startOptimizationTpl"
                            *ngIf="(readonly$ | async) !== true">
              <nz-input-number [(ngModel)]="optimizerIlvl"></nz-input-number>
            </nz-input-group>
          </div>
          <ng-template #startOptimizationTpl>
            <button nz-button nzType="primary" nzSearch (click)="optimizeHoning(gearset, optimizerIlvl)">optimize</button>
          </ng-template>
        </ng-template>
        <nz-table *ngIf="gearsetDisplay$ | async as gearsetDisplay"
                  nzSize="small"
                  nzHideOnSinglePage
                  [nzPageSize]="50"
                  [nzData]="gearsetDisplay.pieces"
                  #equipmentTable>
          <thead>
          <tr>
            <th>Slot</th>
            <th>Rarity</th>
            <th>Current honing</th>
            <th>Target honing</th>
            <th nzRight nzWidth="600px">Cost</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of equipmentTable.data">
            <td>{{row.slot}}</td>
            <td>
              <nz-select [nzDisabled]="readonly$ | async"
                         class="rarity-{{GearsetRarity[row.piece.rarity]?.toLowerCase()}} td-select-box" [(ngModel)]="row.piece.rarity" (ngModelChange)="saveSet(gearset, row.piece, row.slot)">
                <nz-option [nzValue]="GearsetRarity.RARE" nzLabel="Rare" nzCustomContent>
                  <span class="rarity-rare">Rare</span>
                </nz-option>
                <nz-option [nzValue]="GearsetRarity.EPIC" nzLabel="Epic" nzCustomContent>
                  <span class="rarity-epic">Epic</span>
                </nz-option>
                <nz-option [nzValue]="GearsetRarity.LEGENDARY" nzLabel="Legendary" nzCustomContent>
                  <span class="rarity-legendary">Legendary</span>
                </nz-option>
                <nz-option [nzValue]="GearsetRarity.RELIC" nzLabel="Relic" nzCustomContent>
                  <span class="rarity-relic">Relic</span>
                </nz-option>
                <nz-option [nzValue]="GearsetRarity.BREL_RELIC" nzLabel="Relic (Brel)" nzCustomContent>
                  <span class="rarity-brel-relic">Brel Relic</span>
                </nz-option>
              </nz-select>
            </td>
            <td>
              <nz-select [nzDisabled]="readonly$ | async"
                         class="td-select-box" [(ngModel)]="row.piece.honing" nzShowSearch (ngModelChange)="saveSet(gearset, row.piece, row.slot)">
                <nz-option *ngFor="let value of row.possibleHonings" [nzValue]="value" nzLabel="+{{value}}">
                </nz-option>
              </nz-select>
            </td>
            <td>
              <nz-select [nzDisabled]="readonly$ | async"
                         class="td-select-box" [(ngModel)]="row.piece.targetHoning" nzShowSearch (ngModelChange)="saveSet(gearset, row.piece, row.slot)">
                <nz-option *ngFor="let value of row.possibleHonings" [nzValue]="value" nzLabel="+{{value}}">
                </nz-option>
              </nz-select>
            </td>
            <td nzRight>
              <span *ngIf="!row.honingCost">-</span>
              <div class="cost-display" *ngIf="row.honingCost">
                <img src="./assets/icons/shop/shop_{{row.piece.rarity >= GearsetRarity.BREL_RELIC ? 29 : row.piece.rarity >= GearsetRarity.LEGENDARY ? '23' : '22'}}.png" alt="leapstones" class="cost-icon">
                x{{row.honingCost?.leapstones | number:'1.0-0'}}
                <img src="./assets/icons/shop/shop_{{row.slot === 'Weapon' ? row.piece.rarity >= GearsetRarity.BREL_RELIC ? '30' : '13' : row.piece.rarity >= GearsetRarity.BREL_RELIC ? '31' : '15'}}.png" alt="stones" class="cost-icon">
                x{{row.honingCost?.stones | number:'1.0-0'}}
                <img src="./assets/icons/shop/{{row.piece.rarity >= GearsetRarity.BREL_RELIC ? 'superior-oreha' : row.piece.rarity >= GearsetRarity.LEGENDARY ? 'basic_oreha' : 'simple_oreha'}}.png" alt="fusion material" class="cost-icon">
                x{{row.honingCost?.fusionMaterial | number:'1.0-0'}}
                <img src="./assets/icons/t3_shards.png" alt="shards" class="cost-icon">
                x{{row.honingCost?.shards | number:'1.0-0'}}
                <img src="./assets/icons/silver.png" alt="silver" class="cost-icon">
                x{{row.honingCost?.silver | number:'1.0-0'}}
                <img src="./assets/icons/gold.png" alt="gold" class="cost-icon">
                x{{row.honingCost?.gold | number:'1.0-0'}}
              </div>
            </td>
          </tr>
          <tr class="footer">
            <td><b>Total</b></td>
            <td></td>
            <td>ilvl {{gearsetDisplay.ilvl | number:'1.0-2'}}</td>
            <td>ilvl {{gearsetDisplay.targetIlvl | number:'1.0-2'}}</td>
            <td nzRight>
              <span *ngIf="!gearsetDisplay.honingCost">-</span>
              <div class="cost-display" *ngIf="gearsetDisplay.honingCost">
                <ng-container *ngIf="gearsetDisplay.honingCost.MVleapstones">
                  <img src="./assets/icons/shop/shop_29.png" alt="leapstones" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.MVleapstones | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.GHleapstones">
                  <img src="./assets/icons/shop/shop_23.png" alt="leapstones" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.GHleapstones | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.leapstones">
                  <img src="./assets/icons/shop/shop_23.png" alt="leapstones" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.leapstones | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.Wstones">
                  <img src="./assets/icons/shop/shop_30.png" alt="leapstones" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.Wstones | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.stones">
                  <img src="./assets/icons/shop/shop_31.png" alt="leapstones" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.stones | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.superiorFusionMaterial">
                  <img src="./assets/icons/shop/simple_oreha.png" alt="fusion material" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.superiorFusionMaterial | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.fusionMaterial">
                  <img src="./assets/icons/shop/basic_oreha.png" alt="fusion material" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.fusionMaterial | number:'1.0-0'}}
                </ng-container>
                <ng-container *ngIf="gearsetDisplay.honingCost.lowFusionMaterial">
                  <img src="./assets/icons/shop/simple_oreha.png" alt="fusion material" class="cost-icon">
                  x{{gearsetDisplay.honingCost?.lowFusionMaterial | number:'1.0-0'}}
                </ng-container>
                <img src="./assets/icons/t3_shards.png" alt="shards" class="cost-icon">
                x{{gearsetDisplay.honingCost?.shards | number:'1.0-0'}}
                <img src="./assets/icons/silver.png" alt="silver" class="cost-icon">
                x{{gearsetDisplay.honingCost?.silver | number:'1.0-0'}}
                <img src="./assets/icons/gold.png" alt="gold" class="cost-icon">
                x{{gearsetDisplay.honingCost?.gold | number:'1.0-0'}}
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
    <div nz-col [nzMd]="24" [nzXXl]="16">
      <nz-card nzSize="small" nzTitle="Accessories">
        <nz-table *ngIf="engravingsDisplay$ | async as engravingsDisplay"
                  nzSize="small"
                  nzHideOnSinglePage
                  [nzPageSize]="50"
                  [nzData]="engravingsDisplay"
                  #equipmentTable>
          <thead>
          <tr>
            <th>Slot</th>
            <th>Rarity</th>
            <th>Stat(s)</th>
            <th nzWidth="200px">Quality</th>
            <th>Engravings</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of equipmentTable.data; trackBy: trackBySlot">
            <td>{{row.name}}</td>
            <td>
              <nz-select [nzDisabled]="readonly$ | async"
                         *ngIf="row.piece?.rarity"
                         class="rarity-{{ItemRarity[row.piece.rarity]?.toLowerCase()}} td-select-box" [(ngModel)]="row.piece.rarity"
                         (ngModelChange)="saveEngravingsChange(gearset)">
                <nz-option [nzValue]="ItemRarity.RARE" nzLabel="Rare" nzCustomContent>
                  <span class="rarity-rare">Rare</span>
                </nz-option>
                <nz-option [nzValue]="ItemRarity.EPIC" nzLabel="Epic" nzCustomContent>
                  <span class="rarity-epic">Epic</span>
                </nz-option>
                <nz-option [nzValue]="ItemRarity.LEGENDARY" nzLabel="Legendary" nzCustomContent>
                  <span class="rarity-legendary">Legendary</span>
                </nz-option>
                <nz-option [nzValue]="ItemRarity.RELIC" nzLabel="Relic" nzCustomContent>
                  <span class="rarity-relic">Relic</span>
                </nz-option>
              </nz-select>
            </td>
            <td>
              <nz-input-group nzAddOnAfter="+{{row.pieceStatValue}}"
                              *ngIf="row.piece?.quality > -1">
                <nz-select [nzDisabled]="readonly$ | async"
                           [nzMode]="row.slot === 'necklace' ? 'multiple' : 'default'"
                           #selectRef
                           [nzMaxMultipleCount]="2"
                           nzAllowClear
                           class="td-select-box" [ngModel]="row.slot === 'necklace' ? row.piece.stats : row.piece.stats[0]"
                           (ngModelChange)="saveStatsChange(gearset, row.slot, $event);row.slot !== 'necklace' || row.piece.stats.length === 2 ? selectRef.setOpenState(false):null">
                  <nz-option (click)="selectRef.setOpenState(false)" [nzValue]="LostArkStat.Crit" nzLabel="Crit"></nz-option>
                  <nz-option (click)="selectRef.setOpenState(false)" [nzValue]="LostArkStat.Specialiazation" nzLabel="Specialization"></nz-option>
                  <nz-option (click)="selectRef.setOpenState(false)" [nzValue]="LostArkStat.Swiftness" nzLabel="Swiftness"></nz-option>
                  <nz-option (click)="selectRef.setOpenState(false)" [nzValue]="LostArkStat.Endurance" nzLabel="Endurance"></nz-option>
                  <nz-option (click)="selectRef.setOpenState(false)" [nzValue]="LostArkStat.Expertise" nzLabel="Expertise"></nz-option>
                </nz-select>
              </nz-input-group>
            </td>
            <td>
              <nz-slider *ngIf="row.slot !== 'stone' && row.slot !== 'engravings'"
                         [(ngModel)]="row.piece.quality"
                         class="quality-slider quality-{{floor(row.piece.quality / 10) | number:'1.0-0'}}"
                         (nzOnAfterChange)="saveEngravingsChange(gearset)"
                         [nzMin]="0" [nzMax]="100" [nzDisabled]="readonly$ | async"></nz-slider>
            </td>
            <td>
              <ng-container *ngIf="row.slot === 'engravings'; else pieceEngravingsEditor">
                <lostark-helper-engraving-selector (engravingChange)="saveEngravingsChange(gearset)" [disabled]="readonly$ | async" [possibleNodesValues]="[3,6,9,12]" [engraving]="row.piece[0]"></lostark-helper-engraving-selector>
                <lostark-helper-engraving-selector (engravingChange)="saveEngravingsChange(gearset)" [disabled]="readonly$ | async" [possibleNodesValues]="[3,6,9,12]" [engraving]="row.piece[1]"></lostark-helper-engraving-selector>
              </ng-container>
              <ng-template #pieceEngravingsEditor>
                <lostark-helper-engraving-selector (engravingChange)="saveEngravingsChange(gearset)" [disabled]="readonly$ | async" [minNodes]="row.minNodes" [maxNodes]="row.maxNodes[0]"
                                                   [(engraving)]="row.piece.engravings[0]"></lostark-helper-engraving-selector>
                <lostark-helper-engraving-selector (engravingChange)="saveEngravingsChange(gearset)" [disabled]="readonly$ | async" [minNodes]="row.minNodes" [maxNodes]="row.maxNodes[1]"
                                                   [(engraving)]="row.piece.engravings[1]"></lostark-helper-engraving-selector>
                <ng-container *ngIf="row.showNegative === true">
                  <lostark-helper-engraving-selector (engravingChange)="saveEngravingsChange(gearset)" [disabled]="readonly$ | async" [minNodes]="row.minNodes" [maxNodes]="row.maxNodes[2]"
                                                    [(engraving)]="row.piece.engravings[2]" [negative]="true"></lostark-helper-engraving-selector>
                </ng-container>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
    <div nz-col [nzMd]="24" [nzXXl]="8">
      <nz-card nzSize="small" nzTitle="Result stats/Engravings" *ngIf="statsDisplay$ | async as statsDisplay">
        <nz-list nzSize="small" nzHeader="Engravings">
          <nz-list-item *ngFor="let engraving of statsDisplay.engravings" nzContent="{{engraving.nodes}} node(s)">
            <nz-list-item-meta>
              <nz-list-item-meta-title>{{engraving.name}}
                <nz-tag *ngIf="engraving.overflow" nzColor="#f33">+{{engraving.overflow}}</nz-tag>
                <nz-tag *ngIf="engraving.level" nzColor="{{ engraving.level >= 3 ? 'success' : 'orange' }}">lvl {{engraving.level}}</nz-tag>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>{{engraving.description}}</nz-list-item-meta-description>
            </nz-list-item-meta>
          </nz-list-item>
          <nz-empty *ngIf="statsDisplay.engravings.length === 0" nzNotFoundContent="No engravings"></nz-empty>
        </nz-list>
        <nz-list nzSize="small" nzHeader="Negative Engravings">
          <nz-list-item *ngFor="let engraving of statsDisplay.negativeEngravings" nzContent="{{engraving.nodes}} node(s)">
            <nz-list-item-meta>
              <nz-list-item-meta-title>{{engraving.name}}
                <nz-tag *ngIf="engraving.overflow" nzColor="#f33">+{{engraving.overflow}}</nz-tag>
                <nz-tag *ngIf="engraving.level" nzColor="error">lvl {{engraving.level}}</nz-tag>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>{{engraving.description}}</nz-list-item-meta-description>
            </nz-list-item-meta>
          </nz-list-item>
          <nz-empty *ngIf="statsDisplay.negativeEngravings.length === 0" nzNotFoundContent="No negative engravings"></nz-empty>
        </nz-list>
        <nz-table #statsTable [nzData]="statsDisplay.stats" nzHideOnSinglePage nzSize="small" nzTitle="Stats">
          <thead>
          <tr>
            <th>Stat</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of statsTable.data">
            <td>{{LostArkStat[row.stat]}}</td>
            <td>{{row.value | number:'1.0-0'}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
  </div>
</ng-container>
