<nz-page-header nzTitle="Checklist" nzSubtitle="Track your daily and weekly tasks with automated resets and rest bonus support"></nz-page-header>

<ng-container *ngIf="roster$ | async as roster">
  <div class="fullpage-message" *ngIf="roster.length === 0">
    No characters in your roster, please add some in the roster page
  </div>
  <ng-container *ngIf="roster.length > 0">
    <ng-container *ngIf="completion$ | async as completion">
      <ng-container *ngIf="energy$ | async as energy">

        <nz-table *ngIf="tableDisplay$ | async as display"
                  [nzScroll]="{y:tableHeight+'px'}"
                  [nzPageSize]="999"
                  nzHideOnSinglePage
                  nzBordered
                  nzOuterBordered
                  nzSize="middle">
          <table>
            <thead>
            <tr>
              <th>Task</th>
              <th *ngFor="let character of display.roster">
                <div class="character-title">
                  <img src="./assets/icons/classes/class_{{character.class?.toString()?.padStart(2,'0')}}.png" alt=""
                       class="class-icon" *ngIf="character.class !== null">
                  {{character.name}} [{{character.ilvl}}]
                  <i nz-icon nzType="check" nzTheme="outline" *ngIf="character.done"></i>
                  <i nz-icon nzType="clock-circle" nzTheme="outline" *ngIf="character.lazy"
                     nz-tooltip nzTooltipTitle="Only resets after 3 days"></i>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>

            <ng-container
              *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.data.dailyCharacter, title: 'Daily Character'}"></ng-container>
            <ng-container
              *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.data.dailyRoster, title: 'Daily Roster'}"></ng-container>
            <ng-container
              *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.data.weeklyCharacter, title: 'Weekly Character'}"></ng-container>
            <ng-container
              *ngTemplateOutlet="rowsDisplay;context:{$implicit: display.data.weeklyRoster, title: 'Weekly Roster'}"></ng-container>

            <ng-template #rowsDisplay let-rows let-title="title">
              <ng-container *ngIf="rows.length > 0">
                <tr>
                  <td [attr.colspan]="display.roster.length+1" class="section-span">{{title}}</td>
                </tr>
                <tr *ngFor="let row of rows; trackBy: trackByEntry; even as even"
                    [class.even]="even"
                    [class.completed]="row.allDone"
                    [class.daily]="row.task.frequency === TaskFrequency.DAILY"
                    [class.weekly]="row.task.frequency === TaskFrequency.WEEKLY">
                  <td [style.width.px]="375" class="task-name">
                    <img *ngIf="row.task.iconPath" src="./assets/icons/{{row.task.iconPath}}" alt="" class="task-icon">
                    {{row.task.label}}
                  </td>
                  <ng-container *ngIf="row.task.scope === TaskScope.ROSTER">
                    <td colspan="99">
                      <div class="counter roster" *ngIf="row.completion[0] > -1">
                        <div>
                          <button nz-button
                                  nz-tooltip
                                  [nzTooltipTitle]="row.task.amount > 1 ? 'Ctrl + Click to mark as done entirely' : null"
                                  [nzTooltipMouseEnterDelay]="1"
                                  nzSize="small"
                                  nzBlock
                                  nzType="primary"
                                  [disabled]="row.completion[0] >= row.task.amount"
                                  (click)="markAsDone(completion, energy, roster[0].name, row.task, roster, true, display.dailyReset, display.weeklyReset, $event)">
                            {{row.completion[0]}}/{{row.task.amount}}
                          </button>
                        </div>
                        <div *ngIf="row.completion[0] > 0" class="reset-button">
                          <button nz-button nzSize="small" *ngIf="row.completion[0] >= row.task.amount"
                                  (click)="markAsDone(completion, energy, roster[0].name, row.task, roster, false, display.dailyReset, display.weeklyReset)">
                            <i nz-icon nzType="reload" nzTheme="outline"></i>
                          </button>
                        </div>
                      </div>
                      <div class="roster" *ngIf="row.completion[0] === -1">
                        Not available today
                      </div>
                    </td>

                  </ng-container>
                  <ng-container *ngIf="row.task.scope === TaskScope.CHARACTER">
                    <td *ngFor="let col of row.completion; index as i; trackBy: trackByIndex">
                      <ng-container *ngIf="roster[i].ilvl >= row.task.minIlvl && roster[i].ilvl <= row.task.maxIlvl">
                        <div class="counter">
                          <div>
                            <button nz-button
                                    nz-tooltip
                                    [nzTooltipTitle]="row.task.amount > 1 ? 'Ctrl + Click to mark as done entirely' : null"
                                    [nzTooltipMouseEnterDelay]="1"
                                    nzSize="small"
                                    nzType="primary"
                                    [disabled]="col >= row.task.amount"
                                    (click)="markAsDone(completion, energy, roster[i].name, row.task, roster, true, display.dailyReset, display.weeklyReset, $event)">
                              {{col}}/{{row.task.amount}}
                            </button>
                          </div>
                          <div *ngIf="col > 0" class="reset-button">
                            <button nz-button nzSize="small" *ngIf="col > 0"
                                    (click)="markAsDone(completion, energy, roster[i].name, row.task, roster, false, display.dailyReset, display.weeklyReset)">
                              <i nz-icon nzType="reload" nzTheme="outline"></i>
                            </button>
                          </div>
                          <div class="energy-bar" *ngIf="row.energy[i].amount && row.task.frequency === TaskFrequency.DAILY && row.hasEnergy" nz-tooltip
                               nzTooltipTitle="Rest bonus: {{row.energy[i].amount}}">
                            <div class="progress" [style.width.%]="row.energy[i].amount"></div>
                          </div>
                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </ng-template>
            </tbody>
          </table>
        </nz-table>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

